# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/
dist/

# Node
node_modules/
frontend/dist/

# Docker
docker/volumes/

# Env
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Spark
metastore_db/
derby.log
spark-warehouse/

# Superpowers
.superpowers/

# Data files
backend/data/*.csv
